tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:1;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:1;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl80
	{mso-style-parent:style0;
	color:white;
	mso-number-format:"dd\\ mmmm";
	text-align:center;
	vertical-align:middle;
	background:#B2B2B2;
	mso-pattern:#CC9999 none;}
.xl81
	{mso-style-parent:style0;
	mso-number-format:"dd\/mm\/yy";
	text-align:center;
	vertical-align:middle;
	border:.5pt hairline #B2B2B2;}
.xl82
	{mso-style-parent:style0;
	vertical-align:middle;}
.xl83
	{mso-style-parent:style0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;}
.xl84
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;}
.xl85
	{mso-style-parent:style0;
	color:#2A6099;
	font-size:16.0pt;
	font-weight:700;
	vertical-align:middle;}
.xl86
	{mso-style-parent:style0;
	mso-number-format:"dd\/mm\/yy";
	text-align:center;
	vertical-align:middle;}
.xl87
	{mso-style-parent:style0;
	text-align:right;
	vertical-align:middle;}
.xl88
	{mso-style-parent:style0;
	mso-number-format:"dddd\0022\, \, \0022dd\\ mmmm\\ yyyy";
	text-align:center;
	vertical-align:middle;}
.xl89
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	border:.5pt hairline #B2B2B2;}
.xl90
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	mso-number-format:dd;
	text-align:center;
	vertical-align:middle;
	background:gray;
	mso-pattern:#996699 none;}
.xl91
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#333333;
	mso-pattern:#333300 none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl92
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	background:#333333;
	mso-pattern:#333300 none;}
.xl93
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#333333;
	mso-pattern:#333300 none;}
.xl94
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	vertical-align:middle;
	background:#333333;
	mso-pattern:#333300 none;}
.xl95
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#333333;
	mso-pattern:#333300 none;}
.xl96
	{mso-style-parent:style0;
	font-weight:700;
	vertical-align:middle;}
.xl97
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl98
	{mso-style-parent:style0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;}
.xl99
	{mso-style-parent:style0;
	mso-number-format:"dd\/mm\/yy";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;}
.xl100
	{mso-style-parent:style0;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;}
.xl101
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;}
.xl102
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;
	padding-left:36px;
	mso-char-indent-count:3;}
.xl103
	{mso-style-parent:style0;
	mso-number-format:"dd\\ mmmm";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;}
.xl104
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;
	padding-left:84px;
	mso-char-indent-count:7;}
.xl105
	{mso-style-parent:style0;
	text-align:left;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl106
	{mso-style-parent:style0;
	text-align:left;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;
	padding-left:36px;
	mso-char-indent-count:3;}
.xl107
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt hairline #B2B2B2;
	border-right:none;
	border-bottom:.5pt hairline #B2B2B2;
	border-left:none;
	padding-left:60px;
	mso-char-indent-count:5;}
.xl108
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;
	padding-left:12px;
	mso-char-indent-count:1;}
